body{
    background-color: #332F3B;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* padding: 5%; */
    text-align: center;
    box-sizing: border-box;
}
.icon{
    font-family: 'Italianno', cursive;
    font-size: 48px;
    width: 10%;
    padding: 0;
}
.brand{
    font-size: 48px;
    width: 30%;
    padding: 0%;
    text-align: left;
}
.third{
    width: 60%;
}
a.third{
    width: 40%;
    margin-top: 2%;
    position: relative;
    left: 25%;
}
a button{
    background-color: #DAC8FA;
    width: 30%;
    height: 60px;
    border-radius: 5px;
    font-weight: 800;
}
.description{
    font-family: 'Gotu', sans-serif;
    font-size: 36px;
    text-align: center;
    width: 80%;
    position: relative;
    left: 10%;

}
span{
    display: block;
}
.controls{
    width: 100%;
    display: grid;
    gap: 2%;
    grid-template-columns: auto auto;
    
}
footer .footer{
    margin-top: 13%;
    font-size: x-small;
}
nav{
    display: flex;
    width: 100%;

}
    /* .collect-input{
        display: none;
    } */