body{
    background-color: #332F3B;
    font-family: 'Roboto', sans-serif;
    color: #DAC8FA;
    text-align: center;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: hidden;
}
.icon{
    font-family: 'Italianno', cursive;
    font-size: 48px;
    width: 10%;
    padding: 0;
}
.brand{
    font-size: 300%;
    width: 40%;
    padding: 0%;
    text-align: left;
}
.third{
    /* width: 100%; */
}
a.third{
    width: 40%;
    margin-top: 4%;
    display: flex;
    justify-content: end;
}
a button, #generate{
    background-color: #DAC8FA;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 100%;
}
.description{
    font-family: 'Gotu', sans-serif;
    font-size: 36px;
    text-align: center;
    width: 80%;
    position: relative;
    left: 10%;

}
span{
    display: block;
}
.controls{
    width: 100%;
    display: grid;
    gap: 2%;
    grid-template-columns: auto auto;
    
}
footer .footer{
    margin-top: 10%;
    font-size: x-small;
}
header{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    width: 100%;
    position: relative;

}
#collect-input{
    display: flex;
    justify-content: center;
}

form{
    width: 40%;
    padding: 2%;
    box-shadow: 5px 5px 10px black;
    text-align: left;
    border-radius: 20px;
}
.here, .here:active, .here:focus{
    display: flex;
    justify-content: center;
    color: #DAC8FA;
    width: 100%;
    height: 30px;
    border: transparent;
    background-color: #332F3B;
    border-bottom: 1px solid  #DAC8FA;
    margin: 2% 0;
    outline: none;
    font-size: large;
    text-align: end;
    
}
#generate{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
a{
    color: #DAC8FA;
    text-decoration: none !important;
}
#akan-name{
    font-size: x-large;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #332F3B inset !important;
    -webkit-text-fill-color: #DAC8FA !important;
}
.button-group, .gender-group{
    display: flex;
    justify-content: center;
}